[Unit]
Description=Update data about the node in A.L.F.R.E.D.
Wants=alfred.service

[Service]
Type=oneshot
ExecStart=/opt/raspbian-game-node-setup/files/update-alfred.py

[Install]
WantedBy=multi-user.target